<!DOCTYPE html>
<html>
<head>
    {% block scripts %}{% endblock %}
    {% if use_tts_js %}
    <script src="{{ url_for('static', filename='scripts/tts.js') }}"></script>
    {% endif %}
    
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112055708-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-112055708-1');
    </script>

    {% block head %}{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="description" content="Online Microsoft SAM, SAPI4, Bonzi Buddy Text to speech generator">
    <meta name="keywords" content="Microsoft Sam,BonziBUDDY,bonzi buddy,sapi4,speakonia,bonzi buddy text to speech online,online microsoft sam,voice generator,voice,text to speech">
    <link rel="shortcut icon" type="image/ico" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <div class="content">
        <div class="description">
            {% block description %}{% endblock %}
        </div>
        <div class="generator">
            {% block generator %}{% endblock %}
        </div>
    </div>
</body>
</html>